<form #sendMsg="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" role="log">
    <div class="input-group">
        <input
            [(ngModel)]="message"
            (input)="userIsTyping()"
            (keypress.enter)="onSubmit()"
            (focus)="focus()"
            (blur)="blur()"
            name="message"
            required
            type="text"
            class="form-control"
            autofocus="autofocus"
            title="Send"
            aria-label="Send"
            autocomplete="off"
            aria-autocomplete="both"
            aria-haspopup="true"
            placeholder="enter a message...">
        <input
            id="submitButton"
            name="submit"
            type="submit"
            class="form-control"
            title="Send"
            aria-label="Send">
    </div>
</form>
